<div data-ng-controller="etapesController" ng-show="showEtapes" id="etapes" class="btn-group-vertical" role="group">
    <button type="button" ng-click="scrollTo(1)" ng-class="{}" class="btn btn-primary" role="group">Etape 1</button>
    <button type="button" ng-click="scrollTo(2)" class="btn" role="group">Etape 2</button>
    <button type="button" ng-click="scrollTo(3)" class="btn" role="group">Etape 3</button>
    <button type="button" ng-click="scrollTo(4)" class="btn" role="group">Etape 4</button>
    <button type="button" ng-click="scrollTo(5)" class="btn" role="group">Etape 5</button>
</div>